@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Mayeka';
  src: url('assets/font/Mayeka Regular Demo.otf') format('opentype');
}

body {
  font-family: 'Mayeka', sans-serif;
}
